
._*
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
migrations/
*.so
env/
.env/
venv/
set_database.py
*.log
*.pot
*.pyc
__pycache__/
.env
.venv
db.sqlite3
db.sqlite3-journal
venv/
media/google-chrome-stable_current_amd64.deb
google-chrome-stable_current_amd64.deb
google-chrome-stable_current_amd64.deb
